altgraph
Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
graphviz
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
pefile
plotly
PyInstaller
PyQt5
PyQt5-sip
PyQtWebEngine
python-dateutil
pytz
pywin32-ctypes
retrying
scikit-learn
scipy
six
threadpoolctl
waitress
Werkzeug
pygmo
pymoo
seaborn
pstree
evolutionary_forest